:root {
	--ion-color-primary: #ff0000;
	--ion-color-primary-rgb: 255,0,0;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #e00000;
	--ion-color-primary-tint: #ff1a1a;

}
